.shadow {
  margin: 15px;
  padding: 15px;
  box-shadow: 0px 0px 5px 1px #888;
  border-radius: 6px;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.green {
  color: green;
}

.red {
  color: red;
  font-weight: bold;
}

.notes {
  font-size: 0.8em;
}

.inline {
  display: inline;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.cbNewsletter_errors, .errors {
  margin: 15px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 1px #888;
  background-color: #EF9898;
}

pre {
  margin: 15px;
  padding: 15px;
  background-color: #CCC;
}

pre pre {
  background-color: #DDD;
}

pre pre pre {
  background-color: #CCC;
}

pre pre pre pre {
  background-color: #DDD;
}

pre pre pre pre pre {
  background-color: #CCC;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  height: 30px;
  text-align: center;
}

th {
  background-color: #CCC;
}

tr:nth-child(odd) {
  background-color: #EEE;
}

table, th, td {
  border: 1px solid #888;
}

.cbNewsletter_info {
  background-color: #EEE;
}

div.cbNewsletter_info.notes {
  padding: 5px;
}

input#cbNewsletter_email, label#cbNewsletter_email_label {
  display: none;
}

a.active {
  color: #ffff11;
  text-shadow: 0px 0px 4px #424242;
  font-weight: 900;
}

.debug {
  font-size: 0.8em;
  font-family: sans;
  padding-left: 50px;
  background-color: #EEE;
  background-image: url('debug.png');
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

.notice {
  font-size: 0.8em;
  font-family: sans;
  padding-left: 50px;
  background-color: #EEE;
  background-image: url('notice.png');
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

button.full {
  width: 100%;
  max-width: 250px;
  margin: 5px 0px;
  vertical-align: bottom;
}

#form_wrapper {
  display: flex;
  vertical-align: bottom;
}

#form_wrapper .flex {
  margin: 0px 10px;
  vertical-align: bottom;
}

#form_wrapper .flex.one {
  flex: 100%;
}

#form_wrapper .flex.two {
  flex: 300px;
  vertical-align: bottom;
}

ul#template_files {
  padding: 0px;
}

li.template_files {
  list-style-type: none;
  background-color: #EEE;
  padding: 2px 10px;
}

li.template_files:nth-child(even) {
  background-color: #DDD;
}

textarea.createNewsletter, input.createNewsletter {
  width: 100%;
  border: 1px solid #888;
  margin: 0px;
  padding: 3px 8px;
  box-shadow: 0px 0px 2px 0px #888 inset;
  border-radius: 6px;
}

.ten {
  margin: 0px 10px;
}

label {
  vertical-align: top;
}

textarea.createNewsletter {
  min-height: 300px;
}

div#preview_wrapper {
  display: none;
}

div#preview {
  padding: 10px 50px;
}

img.button_delete_template {
  margin: 4px 10px 2px 20px;
}

div#boxes_wrapper {
  display: flex;
}

.flex_left {
  flex: 1 1 auto;
}

.config {
  max-width: 400px;
  min-width: 220px;
  float: left;
}

td.input {
  width: 150px;
}

td.input input {
/*   width: 100%; */
}

#cbNewsletter_mainBox ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
