<h1>Hallo %name%,</h1>

<p>Sie wollen unseren Newsletter auf <a href="%server_url%">%server%</a> nicht mehr bekommen?</p>

<p>Um zu bestätigen, daß Sie sich wirklich aus unserem Newsletter austragen wollen, klicken Sie bitte auf den folgenden Link: <a href="%link_process%">Austragen</a></p>

<p>Falls Sie sich nicht selbst ausgetragen haben, oder Ihre Meinung geändert haben, brauchen Sie nichts zu tun. In diesem Falle wird Ihr Abonnement nicht verändert.</p>

<p>Hier können Sie Ihr Abonnement bearbeiten: <a href="%link_manage%">Abonnement bearbeiten</a></p>

<p>Mit freundlichen Grüßen,<br>
Ihre Webcrew von <a href="%server_url%">%server%</a></p>
