<div style="margin: 5em;">

    <h1>Hello %name%,</h1>

    <p>You want to unsubscribe from our newsletter at <a href="%server_url%">%server%</a>.</p>

    <p>To make certain, that it is really you who wants to unsubscribe, click on the following link: <a href="%link_process%">unsubscribe</a></p>

    <p>If you didn't unsubscribe from our newsletter or have changed your mind about this, then just do nothing. In that case your subscription will simply remain untouched.</p>

    <p>You can manage your subscription here: <a href="%link_manage%">manage your subscription</a></p>

    <p>Best regards,<br>
    Your webcrew at <a href="%server_url%">%server%</a></p>

</div>
